<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>診断結果</title>
</head>
<body>
  <h1>結果</h1>
  <p>あなたのスコアは <%= userScore %> です。</p>
  <p>あなたの精神年齢は：<%= mentalAge %></p>
  <a href="/">再度診断や！！！！</a>
</body>
</html>