<!DOCTYPE html>
<html>
<head>
  <title>エラー</title>
</head>
<body>
  <h1><%= message %></h1>
  <form action="/number">
    <input type="hidden" name="win" value="<%= win %>">
    <input type="hidden" name="total" value="<%= total %>">
    <button type="submit">戻る</button>
  </form>
</body>
</html>